<h1 class="hero-unit"><%= @cocktail.name.titleize %></h1>
<p class="lead"><%= directions_note %></p>
<%= render 'form' %>
<%= link_to 'Cancel', @cocktail, :class => 'btn' %> |
<%= link_to 'Back to Cocktail list', cocktails_path, :class => 'btn' %>
