<p id="notice"><%= notice %></p>

<h1><%= @cocktail.name.titleize %></h1>

<h2>Ingredients</h2>
<ul>
<% @cocktail.ingredients.each do |ingredient| %>
  <li>
    <p class="lineTitle"><%= ingredient.ingredient %></p>
    <% ingrStr = "#{ingredient.ingredient}" #string interpolation of ingredient name %>
    <p><%= link_to 'Edit', edit_cocktail_ingredient_path(@cocktail, ingredient),:class => 'btn' %></p>
    <p><%= link_to 'Delete', [ingredient.cocktail, ingredient], :class => 'btn', :method => :delete, :data => { :confirm => 'Delete \'' + ingrStr + '\'?'} %></p>
  </li>
<% end %>
</ul>

<h3>Add an ingredient</h3>
<%= render "ingredients/form" %>

<h2>Directions</h2>
<div class="notes"><%= simple_format @cocktail.notes %></div>

<%= link_to 'Edit Directions', edit_cocktail_path(@cocktail),:class => 'btn' %>
<%= link_to 'Back to Cocktail List', cocktails_path,:class => 'btn' %>
